@{
    ViewBag.Title = "catagory";
}

@using _1.Models

<div style="background-color:#c3d6e4">
    @foreach (var a in Model)
    {
     

        <article class="question question-type-normal" style="color:#641d40">
            <h2 style="color:#641d40;font-size:50px" class="back">
                Question
            </h2>
            <a class="question-report pull-right" href="#"> Report</a>

            <div class="question-author">
                @if (a.user.picid != null)
                {
                    <a href="#" title="Ahmed" class="question-author-img tooltip-n"><span></span><img class="img-circle" width="100" height="100" src="/Profile/@a.user.picid" /></a>
                    <h2>@a.user.name</h2>
                }
                @if (a.user.picid == null)
                {
                    <a href="#" title="Ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="http://2code.info/demo/html/ask-me/images/demo/avatar.png"></a>
                    <h1 style=" color:#a3424b ; font-size:25px ">@a.user.name</h1>

                }
            </div>
            <div class="question-inner" style="margin: 10px; background-color: black; opacity: 0.8; filter: alpha(opacity=60); ">
                <div class="clearfix"></div>
                <pre><p class="question-desc" style="color: #315596; font-family:Times New Roman ; font-size: 25px">@a.question1 ?</p></pre>
                <div class="question-details">
                </div><span class="question-answered question-answered-done"><i class="icon-ok"></i>@a.status</span>
                <span class="question-favorite"><i class="icon-star"></i>@a.likes</span>
                <span class="question-comment">
                    Like

                </span>
            </div>
        </article>
        <hr style="color:#56dbc6" />
        foreach (var b in a.Ans)
        {
            <div style="background-color:whitesmoke">
                <article class="question question-type-normal" style="color:#641d40 ; font-size:25px">
                    <h2>
                        Answer
                    </h2>
                    <a class="question-report pull-right" href="/User/Report">Report</a>
                    @if (a.user.picid != null)
                    {
                        <a href="#" title="Ahmed" class="question-author-img tooltip-n"><span></span><img class="img-circle" width="100" height="100" src="/Profile/@a.user.picid" /></a>
                    }
                    @if (a.user.picid == null)
                    {
                        <a href="#" title="Ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="http://2code.info/demo/html/ask-me/images/demo/avatar.png"></a>
                    }
                    <div class="question-inner">
                        <div class=" clearfix"></div>
                        <pre> <p class="question-desc" style=" color:#655c5c">@b.answer</p></pre>
                        <span class="question-favorite"><i class="icon-star"></i>@b.likes</span>
                        <span class="question-comment">
                            Like
                        </span>

                        <span class="question-date"><i class="icon-time"></i>4 mins ago</span>
                        <div class="clearfix"></div>
                    </div>
                </article>
                <hr />


            </div>


        }
    }
</div>

